<!-- List Row Component -->
<!-- Used for workshop lists, event lists, room lists -->

<div class="list-row__group" data-animate="fade-up">
  <a href="#" class="list-row">
    <span class="list-row__label">Workshop #1</span>
    <span class="list-row__title">Dunkelkammer Basics</span>
    <svg class="list-row__arrow" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M28 0V27H24V6.37305L3.17383 27.1016L0.351562 24.2666L20.7139 4H0V0H28Z" fill="currentColor"/>
    </svg>
  </a>
  <a href="#" class="list-row">
    <span class="list-row__label">Workshop #2</span>
    <span class="list-row__title">Schwarzweißfotografie</span>
    <svg class="list-row__arrow" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M28 0V27H24V6.37305L3.17383 27.1016L0.351562 24.2666L20.7139 4H0V0H28Z" fill="currentColor"/>
    </svg>
  </a>
  <a href="#" class="list-row">
    <span class="list-row__label">Workshop #3</span>
    <span class="list-row__title">Belichtungsmethoden 1</span>
    <svg class="list-row__arrow" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M28 0V27H24V6.37305L3.17383 27.1016L0.351562 24.2666L20.7139 4H0V0H28Z" fill="currentColor"/>
    </svg>
  </a>
</div>

<!-- Date variant for events -->
<div class="list-row__group" data-animate="fade-up">
  <a href="#" class="list-row">
    <span class="list-row__label">20.12.2026</span>
    <span class="list-row__title">Veranstaltung 1</span>
    <svg class="list-row__arrow" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M28 0V27H24V6.37305L3.17383 27.1016L0.351562 24.2666L20.7139 4H0V0H28Z" fill="currentColor"/>
    </svg>
  </a>
</div>
