<!-- Checkbox Group Component -->
<!-- Used for room and equipment selection on Mieten page -->

<!-- Single category (Räume) -->
<div class="checkbox-group" data-animate="fade-up">
  <div class="checkbox-group__item">
    <label class="checkbox-group__label">
      <input type="checkbox" class="checkbox-group__checkbox" name="room" value="item1">
      <span class="checkbox-group__check"></span>
      <span class="checkbox-group__text">Item #1</span>
    </label>
    <span class="checkbox-group__desc">Großes Studio</span>
    <svg class="checkbox-group__arrow" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M28 0V27H24V6.37305L3.17383 27.1016L0.351562 24.2666L20.7139 4H0V0H28Z" fill="currentColor"/>
    </svg>
  </div>
  <div class="checkbox-group__item">
    <label class="checkbox-group__label">
      <input type="checkbox" class="checkbox-group__checkbox" name="room" value="item2">
      <span class="checkbox-group__check"></span>
      <span class="checkbox-group__text">Item #1</span>
    </label>
    <span class="checkbox-group__desc">Kleines Studio</span>
    <svg class="checkbox-group__arrow" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M28 0V27H24V6.37305L3.17383 27.1016L0.351562 24.2666L20.7139 4H0V0H28Z" fill="currentColor"/>
    </svg>
  </div>
  <div class="checkbox-group__item">
    <label class="checkbox-group__label">
      <input type="checkbox" class="checkbox-group__checkbox" name="room" value="item3">
      <span class="checkbox-group__check"></span>
      <span class="checkbox-group__text">Item #1</span>
    </label>
    <span class="checkbox-group__desc">Analog Studio</span>
    <svg class="checkbox-group__arrow" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M28 0V27H24V6.37305L3.17383 27.1016L0.351562 24.2666L20.7139 4H0V0H28Z" fill="currentColor"/>
    </svg>
  </div>
</div>

<!-- Multi-category (Equipment) -->
<div class="checkbox-group checkbox-group--multi" data-animate="fade-up">
  <div class="checkbox-group__category">
    <h4 class="checkbox-group__category-title">Light</h4>
    <div class="checkbox-group__items">
      <div class="checkbox-group__item checkbox-group__item--compact">
        <label class="checkbox-group__label">
          <input type="checkbox" class="checkbox-group__checkbox" name="equipment" value="light1">
          <span class="checkbox-group__check"></span>
          <span class="checkbox-group__text">Item #1</span>
        </label>
        <svg class="checkbox-group__arrow" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M28 0V27H24V6.37305L3.17383 27.1016L0.351562 24.2666L20.7139 4H0V0H28Z" fill="currentColor"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="checkbox-group__category">
    <h4 class="checkbox-group__category-title">Camera</h4>
    <div class="checkbox-group__items">
      <div class="checkbox-group__item checkbox-group__item--compact">
        <label class="checkbox-group__label">
          <input type="checkbox" class="checkbox-group__checkbox" name="equipment" value="camera1">
          <span class="checkbox-group__check"></span>
          <span class="checkbox-group__text">Item #1</span>
        </label>
        <svg class="checkbox-group__arrow" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M28 0V27H24V6.37305L3.17383 27.1016L0.351562 24.2666L20.7139 4H0V0H28Z" fill="currentColor"/>
        </svg>
      </div>
    </div>
  </div>
</div>
